[project]
name = "stroke-prediction-ml"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "flask>=3.1.2",
    "gunicorn>=23.0.0",
    "scikit-learn==1.6.1",
    "xgboost>=3.1.2",
]
